

<!-- <main>
  <h1>Inventory Management</h1>

  <% if (messages && messages.length > 0) { %>
    <div class="flash-message">
      <% messages.forEach(msg => { %>
        <p><%= msg %></p>
      <% }) %>
    </div>
  <% } %>

  <ul>
    <li><a href="/inv/add-classification">Add New Classification</a></li>
    <li><a href="/inv/add-inventory">Add New Inventory</a></li>
  </ul>
</main> -->

   <main class="management-container">
        <h1>Inventory Management</h1>

        <!-- flash  -->
        <% if (flashMessage) { %>
            <div class="flash-message">
                <p><%= flashMessage %></p>
            </div>
        <% } %>

        <div class="management-options">
            <div class="management-card">
                <h2>Classification Management</h2>
                <a href="/inv/add-classification" class="btn-primary">
                    Add New Classification
                </a>
            </div>
            
            <div class="management-card">
                <h2>Inventory Management</h2>
                <a href="/inv/add-inventory" class="btn-primary">
                    Add New Inventory Item
                </a>
            </div>
        </div>
    </main>